html {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
    margin: 0;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 21px;
    height: 115px;
}

.navbar-text {
    padding: 10px;
}

.logo-container {
    width: 100px;
    height: 50px;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pages .selected {
    border-bottom: solid 2px;
    border-color: #EB5757;
}

.menu-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
}

.cart {
    display: flex;
    flex-direction: column;
    height: 29px;
}

.cart p {
    font-family: "Roboto", sans-serif;
    margin: 0 !important;
    padding: 0 10px !important;
}

.cart-title {
    font-weight: 400;
    font-size: 12px;
}

.cart-price {
    font-weight: 700;
    font-size: 14px;
}

.container {
    padding: 21px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.main {
    position: relative;
    background-image: url("static/main-background.png");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    padding: 46px 212px;
}

.main h1 {
    font-weight: 600;
    font-size: 86px;
    line-height: 96px;
    width: 504px;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 504px;
}

.no-fill {
    color: transparent;
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
}

.shop-button {
    padding: 16px 0px;
    border: solid 2px black;
    width: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.shop-button p {
    margin: 0;
    font-family: Oswald;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.5px;
    vertical-align: middle;
}

.main-decoration {
    position: absolute;
    top: 220px;
}

.main-navboxes {
    position: absolute;
    width: 100px;
    bottom: 25px;
    left: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navboxes div {
    width: 18px;
    height: 18px;
    border: solid 1px #828282;
}

.main-navboxes .selected {
    width: 22px;
    height: 22px;
    border: none;
    background-color: black;
}

.arrow {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    opacity: 90%;
}

.arrow-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 3px;
}

.girls {
    width: 804px;
    height: 708px;
    object-fit: cover;
}

.brands {
    position: relative;
}

.brands-list {
    display: flex;
    padding: 21px;
    border: solid 2px #C4C4C4;
    gap: 10px;
}

.brand-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
}

.brand-item img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.brands-title {
    position: absolute;
    width: 247px;
    top: -44px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    background-color: white;
    padding: 32px 12px;
    margin: 0;
    font-family: Oswald;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.promo-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.promo-column-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.promo-img-1 {
    position: relative;
    background-image: url("static/promos/Promo\ Image-1.png");
    height: 434px;
}

.promo-img-2 {
    position: relative;
    background-image: url("static/promos/Promo\ Image.png");
    height: 434px;
}

.promo-img-3 {
    position: relative;
    background-image: url("static/promos/Promo\ Image-2.png");
    height: 898px;
}

.promo-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.promo-img-1 .promo-content {
    top: 80px;
    left: 491px;
}

.promo-img-2 .promo-content {
    top: 80px;
    left: 64px;
}

.promo-img-3 .promo-content {
    top: 452px;
    left: 64px;
}

.promo-header {
    font-weight: 600px;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0;
}

.promo-header-primary {
    font-weight: 600;
    font-size: 96px;
    line-height: 110px;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0;
}

.promo-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 37px;
    letter-spacing: 1%;
    margin: 0;
}

.checkbox,
.radio {
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.checkbox-label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0%;
}

.shop-title {
    font-weight: 400;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 32px;
}

.checkbox-input {
    appearance: none;
    position: relative;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border: 1px solid #828282;
}

.checkbox-input:checked {
    background: #000000;
    border: 1px solid #000000;
    background-image: url("data:image/svg+xml,%3csvg width='10' height='10' viewBox='-1 -1 10 8' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.353516 1.85352L2.85352 4.35352L6.85352 0.353516' stroke='%23fff' stroke-width='1.5'/%3e%3c/svg%3e");
    background-size: 8px 6px;
    background-position: center;
    background-repeat: no-repeat;
}

.shop-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.shop-aside {
    min-width: 20%;
    border-right: 2px solid #c4c4c4;
}

.shop-product {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: calc(25% - 24px);
}

.shop-product-category {
    font-weight: 600;
    font-size: 12px;
    color: #bdbdbd;
    margin: 0;
}

.shop-product-title {
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}

.shop-product-price-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.shop-product-price {
    font-weight: 500;
    font-size: 22px;
    height: 33px;
    margin: 0;
}

.shop-product-oldprice {
    font-weight: 400;
    font-size: 14px;
    color: #828282;
    text-decoration: line-through;
    margin: 0;
}

.shop-product-label {
    position: absolute;
    width: 43px;
    height: 21px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.shop-product-label p {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.shop-right-side {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F0F2F2;
    padding: 35px 200px;
}

.benefit {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
}

.benefit p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}

.icon-check {
    display: inline-block;
    width: 16px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.717041 4.29727L5.96704 9.69727L14.717 0.697266' stroke='black' stroke-width='2'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.site-footer {
    background-color: #000;
    color: #fff;
    padding: 48px;
}

.footer-top {
    margin: 0 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #3F3F3F;
    padding-bottom: 32px;
}

.footer-logo img {
    max-width: 94px;
}

.site-footer h4 {
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 16px 0;
    text-transform: uppercase;
}

.footer-col ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #bdbdbd;
}

.footer-col ul li {
    margin: 10px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.contact-col p {
    margin: 8px 0;
    color: #bdbdbd;
    font-size: 13px;
}

.contact-item{ 
    margin-bottom: 12px;
 }

.contact-key{
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff !important;
}

.contact-value{
    margin: 6px 0 0 0;
    color: #828282;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

.social-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 12px 0;
    color: #bdbdbd;
    font-size: 13px;
}

.social-list img {
    width: 20px;
    height: 20px;
}

.footer-join .join-desc {
    color: #828282;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin: 0 0 12px 0;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.newsletter-input {
    padding: 12px 14px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.newsletter-input::placeholder {
    color: #fff;
}

.newsletter-button {
    padding: 12px 16px;
    background: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}