html {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
    margin: 0;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 21px;
    height: 115px;
}

.navbar-text {
    padding: 10px;
}

.logo-container {
    width: 100px;
    height: 50px;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pages .selected {
    border-bottom: solid 2px;
    border-color: #EB5757;
}

.menu-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
}

.cart {
    display: flex;
    flex-direction: column;
    height: 29px;
}

.cart p {
    font-family: "Roboto", sans-serif;
    margin: 0 !important;
    padding: 0 10px !important;
}

.cart-title {
    font-weight: 400;
    font-size: 12px;
}

.cart-price {
    font-weight: 700;
    font-size: 14px;
}

.container {
    padding: 21px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.main {
    position: relative;
    background-image: url("static/main-background.png");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    padding: 46px 212px;
}

.main h1 {
    font-weight: 600;
    font-size: 86px;
    line-height: 96px;
    width: 504px;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 504px;
}

.no-fill {
    color: transparent;
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
}

.shop-button {
    padding: 16px 0px;
    border: solid 2px black;
    width: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.shop-button p {
    margin: 0;
    font-family: Oswald;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.5px;
    vertical-align: middle;
}

.main-decoration {
    position: absolute;
    top: 220px;
}

.main-navboxes {
    position: absolute;
    width: 100px;
    bottom: 25px;
    left: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navboxes div {
    width: 18px;
    height: 18px;
    border: solid 1px #828282;
}

.main-navboxes .selected {
    width: 22px;
    height: 22px;
    border: none;
    background-color: black;
}

.arrow {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    opacity: 90%;
}

.arrow-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 3px;
}

.girls {
    width: 804px;
    height: 708px;
    object-fit: cover;
}

.brands{
    position: relative;
}

.brands-list{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 32px;
    padding: 21px;
    border: solid 2px #C4C4C4;
}

.brands-list img{
    object-fit: contain;
}

.brands-title{
    position: absolute;
    top: -44px;
    left: 812px;
    background-color: white;
    padding: 32px 12px;
    margin: 0;
    font-family: Oswald;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.promo-column{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.promo-column-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.promo-img-1{
    position: relative;
    background-image: url("static/promos/Promo\ Image-1.png");
    height: 434px;
}

.promo-img-2{
    position: relative;
    background-image: url("static/promos/Promo\ Image.png");
    height: 434px;
}

.promo-img-3{
    position: relative;
    background-image: url("static/promos/Promo\ Image-2.png");
    height: 898px;
}

.promo-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.promo-img-1 .promo-content{
    top: 80px;
    left: 491px;
}

.promo-img-2 .promo-content{
    top: 80px;
    left: 64px;
}

.promo-img-3 .promo-content{
    top: 452px;
    left: 64px;
}

.promo-header{
    font-weight: 600px;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0;
}

.promo-header-primary{
    font-weight: 600;
    font-size: 96px;
    line-height: 110px;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0;
}

.promo-description{
    font-family: "Roboto", sans-serif;
    font-weight: 400px;
    font-size: 22px;
    line-height: 37px;
    letter-spacing: 1%;
    margin: 0;
}