html {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
    margin: 0;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px 21px;
}

.navbar div p {
    padding: 10px;
}

.logo-container {
    width: 100px;
    height: 50px;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pages .selected {
    border-bottom: solid 2px;
    border-color: #EB5757;
}

.menu-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart {
    display: flex;
    flex-direction: column;
    height: 29px;
}

.cart p {
    font-family: "Roboto", sans-serif;
    margin: 0 !important;
    padding: 0 10px !important;
}

.cart-title {
    font-weight: 400;
    font-size: 12px;
}

.cart-price {
    font-weight: 700;
    font-size: 14px;
}